html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
a img {
  border: none;
}

html {
  background:#FFF;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    background:transparent url(bg.png) repeat-x top left;
    color: #333333;
    min-height:500px;
    overflow:hidden;
}

#todoapp {
  width: 480px;
  margin: 20px auto 40px;
  background: white;
  padding: 20px;
  -moz-box-shadow:    rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow:         rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
}
#todoapp:before. #todoapp:after {
  content: "";
  position: absolute;
  z-index: -2;
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-transform: rotate(-3deg);
  bottom: 15px;
  height: 20%;
  left: 10px;
  max-width: 300px;
  width: 50%;
}

#todoapp:after {
  -moz-transform: rotate(3deg);
  left: auto;
  right: 10px;
}

#create-todo {
  position: relative;
}
  #create-todo input {
    width: 340px;
    font-size: 24px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    display:inline;
    outline: none;
    padding: 6px;
    border: 1px solid #999999;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  }
  #create-todo #new-todo-hours {
    width:100px;
  }
  #create-todo span {
    position: absolute;
    z-index: 999;
    width: 170px;
    left: 50%;
    margin-left: -85px;
  }
  
  /*match placeholder/watermark padding to border+padding for input element*/
  label.placeholder {
  cursor: text;
  padding: 4px 4px 4px 4px;
  color: #AAA;
  font-size:140%;
  padding:12px;
  }
  /* html5 placeholder support */
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:#AAA;
  }
  input:placeholder, textarea:placeholder {
  color:#AAA;
  }
  #addItemButton {
    display:none;
  }

#todo-list {
  margin-top: 10px;
}
  #todo-list li {
    padding: 12px 20px 11px 0;
    position: relative;
    font-size: 24px;
    line-height: 1.1em;
    border-bottom: 1px solid #cccccc;
  }
    #todo-list li:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden;
    }
    #todo-list li.editing {
      padding: 0;
      border-bottom: 0;
    }
  #todo-list .editing .display,
  #todo-list .edit {
    display: none;
  }
    #todo-list .editing .edit {
      display: block;
    }
    input.enteredItem {
      font-size: 24px;
      font-family: inherit;
      margin: 0;
      line-height: 1.6em;
      border: 0;
      outline: none;
      padding: 0px 0px 0px 10px;
      border: 1px solid transparent;
      width:338px;
    }
  #todo-list li:hover .todo-destroy
  #todo-list .todo-hours:after {
   content:" Hours";
  }
  #todo-list .todo-hours {
    position: absolute;
    right: 45px;
    top: 13px;
    font-size:75%;
    font-style:italic;
    text-align: right;
  }
  #todo-list .done .todo-content {
    text-decoration: line-through;
    color: #777777;
  }
  #todo-list li .check{
  	position: absolute;
  	top: 50%;
  	left: 20px;
  	margin-top: -4px;
  	z-index: 999;
  	display:none;
  }
  #todo-list .todo-destroy {
    position: absolute;
    right: 5px;
    top: 14px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(destroy.png) no-repeat 0 0;
  }
    #todo-list li:hover .todo-destroy, #todo-list li:hover .check {
      display: block;
    }
    #todo-list .todo-destroy:hover {
      background-position: 0 -20px;
    }


#instructions {
  width: 520px;
  margin: 10px auto;
  color: #777777;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  text-align: center;
}

#credits {
  width: 520px;
  margin: 30px auto;
  color: #999;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  text-align: center;
}

#todo-list li{
	border-bottom: none;
	padding: 0;
	border: 0;
	margin-left: -40px;
	padding-left: 40px;
}

#todo-list li .todo-content{
	background: #fff;
	padding: 4px 20px 4px 0;
    border-bottom: 1px solid #cccccc;
    position: relative;
}

#todo-list .handle{
	cursor: move;
	position: absolute;
	left: -10px;
	top: 50%;
	width: 25px;
	height: 15px;
	padding: 8px 2px;
	margin-top: -12px;
	background: #fff url(drag.png) no-repeat 8px 10px;
	-moz-border-radius:     10px 0 0 10px;
  -webkit-border-radius:  10px 0 0 10px;
  border-radius:          10px 0 0 10px;
  display: none;
  border:1px solid #ccc;
  border-right:none;
}

#todo-list li:hover .handle{
	display: block;
}

#todo-list li .enteredItem{
/*  margin-left: 12px;*/
}

ul li.danger, ul li.danger input{
	color: red;
}

#title{
	padding: 15px 20px;
	background: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}

#title h2{
	font-size: 22px;
	font-weight: bold;
}

#title h2 span{
	font-weight: normal;
	padding-right: 20px;
}

.todo-hours input{
	width: 20px;
	border: 1px solid transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    vertical-align: top;
}

.enteredTime{
	text-align: right;
}

.done .todo-hours, .done .todo-hours input{
	color: #ccc;
	background:#FFF;
}
.done input.enteredItem{
	text-decoration: line-through;
    color: #777777;
}

#summary {
	position: absolute;
	right: 0;
	top: 48px;
	padding: 10px;
	background: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  width: 160px;
  -moz-border-radius:     0 0 0 10px;
  -webkit-border-radius:  0 0 0 10px;
  border-radius:          0 0 0 10px;
}

#summary h3{
	font-weight: bold;
	margin-bottom: 8px;
}
#summary input.enteredItem {
  font-size:70%;
}
#summary li .check, #summary li .todo-hours, #summary li .todo-destroy, #summary li .todo-input{
	display: none;
}

#summary li{
	list-style-type: decimal;
	margin-left: 20px;
}

#summary li .display{
	padding: 0;
	margin: 0;
	display: inline;
}

#summary li .enteredItem{
	font-size: 14px;
	width: 125px;
	margin: -6px 0 0;
	padding: 0;
	vertical-align: middle;
}